### Lists

In [1]:
numbers = [54, 56, 12, 1234]
numbers

[54, 56, 12, 1234]

In [8]:
print(type(numbers))

<class 'list'>

In [6]:
misc=[(1,2), "Hamza", 45, [25, 86]]
misc

[(1, 2), 'Hamza', 45, [25, 86]]

In [9]:
print(type(misc))

<class 'list'>

In [10]:
bicycles=['treck', 'cannondale', 'redline', 'specialized']
print(bicycles)

['treck', 'cannondale', 'redline']

In [12]:
#implicit line joining
bicycles= [
    'treck',
    'redline',
    "specialized"
]
bicycles

['treck', 'redline', 'specialized']

#### Accessing Elements in a List

In [13]:
bicycles=['treck', 'cannondale', 'redline', 'specialized']
print(bicycles[0])

treck

In [14]:
print(bicycles[0].title())

Treck

In [18]:
#index positions start at 0 not 1
bicycles[1].title(), bicycles[3].title()

('Cannondale', 'Specialized')

In [19]:
#IndexError:
bicycles[4]

IndexError: list index out of range

In [20]:
len(bicycles)

4

In [22]:
bicycles[-1], bicycles[-2]

('specialized', 'redline')

In [23]:
message = f"My first bicycle was a {bicycles[0].title()} ."
message

'My first bicycle was a Treck .'

In [24]:
print(message)

My first bicycle was a Treck .

In [25]:
#modifying elements in a list:
motocycles=["honda", "yamaha", "suzuki"]
print(motocycles)
motocycles[0]= "ducati"
print(motocycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']

In [26]:
#adding elements to the END of list
motocycles.append("honda")

In [27]:
motocycles

['ducati', 'yamaha', 'suzuki', 'honda']

In [28]:
motocycles=[]
print(type(motocycles))

motocycles.append("honda")
motocycles.append("yamaha")
motocycles.append("suzuki")

print(motocycles)

<class 'list'>
['honda', 'yamaha', 'suzuki']

In [30]:
#concatinating Lists

num1 = [12, 423, 109]
num2 = [99, -24]
num = num1 + num2
num

[12, 423, 109, 99, -24]

In [31]:
num=[2,4,7]
num * 2

[2, 4, 7, 2, 4, 7]

In [32]:
#Inserting Elements intot a list
print(motocycles)
motocycles.insert(2, "ducato") #index 2
print(motocycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'ducato', 'suzuki']

In [33]:
#Removing an item 
del motocycles[0] # removing using del
print(motocycles)

['yamaha', 'ducato', 'suzuki']

In [34]:
poped_motocycle = motocycles.pop() #using pop last value in list
print(motocycles)
print(poped_motocycle)

['yamaha', 'ducato']
suzuki

In [35]:
#poping items from any position in a list
motorcycles=['honda', 'yamaha', 'suzuki']
first_owned = motorcycles.pop(1)
print(f"The first motorcycle i owned as a {first_owned.title()}")

The first motorcycle i owned as a Yamaha

In [36]:
motorcycles=['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)
motorcycles.remove('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

#### Organizing a List

In [42]:
# sort() method
cars=['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
cars

['audi', 'bmw', 'subaru', 'toyota']

In [43]:
cars=['bmw', 'audi', 'toyota', 'subaru']
cars.sort(reverse=True)
cars

['toyota', 'subaru', 'bmw', 'audi']

In [46]:
# Sorting a list temporarily using sorted() function
cars=['bmw', 'audi', 'toyota', 'subaru']
print(cars)
print('\n ++++++++  sorted  ++++++++++\n')
print(sorted(cars))
print('\n++++++++++ no changes ++++++++\n')
print(cars)

['bmw', 'audi', 'toyota', 'subaru']

 ++++++++  sorted  ++++++++++

['audi', 'bmw', 'subaru', 'toyota']

++++++++++ no changes ++++++++

['bmw', 'audi', 'toyota', 'subaru']

In [50]:
#printing in reverse
print(cars)
cars.reverse()
print(cars)

['subaru', 'toyota', 'audi', 'bmw']
['bmw', 'audi', 'toyota', 'subaru']

In [51]:
#finding the length of a list
len(cars)

4

In [52]:
#list() constructor function
list([1, 2, 3, 4])

[1, 2, 3, 4]

In [53]:
type(list([1, 2, 3, 4]))

list

In [54]:
list('Python')

['P', 'y', 't', 'h', 'o', 'n']

In [55]:
# list() with enumerate()
values= ['first', 'second', 'third', 'fourth']
for index in range(len(values)):
    value=values[index]
    print(index, value)

0 first
1 second
2 third
3 fourth

In [56]:
enumerate(values)

In [57]:
list(enumerate(values)) #unpacking sequences

[(0, 'first'), (1, 'second'), (2, 'third'), (3, 'fourth')]

In [58]:
values= ['first', 'second', 'third', 'fourth']
for index, value in enumerate(values):
    print(index, value)

0 first
1 second
2 third
3 fourth

#### Making Numerical Lists

In [61]:
print(range(5))

range(0, 5)

In [63]:
print(type(range(5)))

<class 'range'>

In [64]:
list(range(5))

[0, 1, 2, 3, 4]

In [65]:
#slicing convention in python (start, stop, step)
list(range(2, 20, 2))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [66]:
list(reversed(range(2,20,2)))

[18, 16, 14, 12, 10, 8, 6, 4, 2]

In [69]:
list(range(18,0, -2))

[18, 16, 14, 12, 10, 8, 6, 4, 2]

In [59]:
#using range function
for value in range(1,5):
    print(value)

1
2
3
4

In [60]:
for value in range(5):
    print(value)

0
1
2
3
4

In [70]:
#using range() to make a list of numbers:
numbers=list(range(1,6))
numbers

[1, 2, 3, 4, 5]

In [72]:
even_numbers=list(range(0, 11, 2))
even_numbers

[0, 2, 4, 6, 8, 10]

In [74]:
squares=[]
for value in range(11):
    value=value**2
    squares.append(value)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [76]:
digits=list(range(11))
print(digits)
print(max(digits))
print(min(digits))
print(sum(digits))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
10
0
55

#### List comprehensions

In [77]:
squares = [sqr**2 for sqr in range(11)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Slicing a List

In [83]:
# list[start:stop:step]

In [78]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
players[0:3]

['charles', 'martina', 'michael']

In [79]:
players[1:4]

['martina', 'michael', 'florence']

In [80]:
players[:4]

['charles', 'martina', 'michael', 'florence']

In [81]:
players[2:]

['michael', 'florence', 'eli']

In [82]:
players[2:5]

['michael', 'florence', 'eli']

#### Looping Through a Slice

In [84]:
print("Here are the first three players on my team: \n")
for player in players[:3]:
    print(player.title())

Here are the first three players on my team:

Charles
Martina
Michael

#### Copying a List

In [85]:
my_foods=['pizza', 'falafel', 'couscous','carrot cake']

friend_food=my_foods[:]
print(my_foods)
print(friend_food)

['pizza', 'falafel', 'couscous', 'carrot cake']
['pizza', 'falafel', 'couscous', 'carrot cake']

In [87]:
#this dosen't work
my_foods=['pizza', 'falafel', 'couscous','carrot cake']
friend_food=my_foods

In [88]:
friend_food

['pizza', 'falafel', 'couscous', 'carrot cake']

In [89]:
friend_food.append('ice cream')
print(friend_food)
print(my_foods)

['pizza', 'falafel', 'couscous', 'carrot cake', 'ice cream']
['pizza', 'falafel', 'couscous', 'carrot cake', 'ice cream']

In [92]:
#this should work: 
my_foods=['pizza', 'falafel', 'couscous','carrot cake']
friend_food=my_foods.copy()

friend_food.append('ice cream')
print('Friend food: \n')
print(friend_food)
print('\nMy foods:\n')
print(my_foods)

Friend food:

['pizza', 'falafel', 'couscous', 'carrot cake', 'ice cream']

My foods:

['pizza', 'falafel', 'couscous', 'carrot cake']

## Tuples

In [94]:
#Immutable list
dimensions=(200, 50, 100)
print(dimensions[0])
print(dimensions[1])
print(dimensions[2])

200
50
100

In [95]:
#Error 
dimensions=(200, 50)
dimensions[0]=250

TypeError: 'tuple' object does not support item assignment

In [96]:
two_d =((0, 19), (25, 6), (81, 58, 56))
two_d

((0, 19), (25, 6), (81, 58, 56))

In [98]:
misc_d=(15, 'abc', (9,1), [1,2,3], {'def':15})
misc_d

(15, 'abc', (9, 1), [1, 2, 3], {'def': 15})

In [101]:
print(type(misc_d[0]))
print(type(misc_d[1]))
print(type(misc_d[2]))
print(type(misc_d[3]))
print(type(misc_d[4]))

<class 'int'>
<class 'str'>
<class 'tuple'>
<class 'list'>
<class 'dict'>

In [105]:
#looping through all values in a Tuple
dimensions= (200, 50, 92, 92)
for dimension in dimensions:
    print(dimension)

200
50
92
92

In [106]:
dimensions.count(92)

2

In [108]:
dimensions.index(92)

2

In [ ]:
# list() with enumerate()

In [110]:
values = ('zero', 'un', 'deux', 'trois', 'quatre')
for index, value in enumerate(values):
    print(index, value)

0 zero
1 un
2 deux
3 trois
4 quatre

In [111]:
# Writing over tuple:
dimensions= (200, 50, 88)
print('Original dimensions:')
for dimension in dimensions:
    print(dimension)

dimensions=(400, 500)
print('\nModified dimensions:')
for dimension in dimensions:
    print(dimension)

Original dimensions:
200
50
88

Modified dimensions:
400
500

### Strings
#### Yes, Strings are ordred sequences :)

In [112]:
string = 'Hello Hamza'
string[0]

'H'

In [113]:
string[0]='M' # Error, strings are immutable sequences

TypeError: 'str' object does not support item assignment

In [114]:
string.count('a')

2

In [115]:
string.index('H')

0

In [116]:
string.index('h') #upper and lower error

ValueError: substring not found

In [117]:
list(string)

['H', 'e', 'l', 'l', 'o', ' ', 'H', 'a', 'm', 'z', 'a']

In [118]:
dir(string)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

### Unordered Sequences

### Sets

In [124]:
set1={1,2,3,4,5,6,8,9,9}
set1 #unique items

{1, 2, 3, 4, 5, 6, 8, 9}

In [129]:
my_list=['one', 'one', 'two', 'three', 'three', 'four']
my_list

['one', 'one', 'two', 'three', 'three', 'four']

In [130]:
#using the set function:
my_set=set(my_list)
my_set

{'four', 'one', 'three', 'two'}

In [131]:
list_again= list(my_set)

In [132]:
list_again

['three', 'one', 'four', 'two']

In [133]:
dir(set1)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [135]:
set1.add(15)
set1.add(100)
set1

{1, 2, 3, 4, 5, 6, 8, 9, 15, 100}

In [136]:
#initialize my_set
my_set={1,3}
print(my_set)

{1, 3}

In [138]:
my_set.update([4,5], {1,6,8})
my_set

{1, 3, 4, 5, 6, 8}

In [139]:
#set union method
#initialize A and B
A={1, 2, 3, 4, 5}
B={4, 5, 6, 7, 8}
#use | operator UNION
print(A|B)
print(A.union(B))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [140]:
print(A.intersection(B))

{4, 5}

In [143]:
A & B

{4, 5}

In [141]:
print(A.discard(B))

None

In [142]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [144]:
print(A - B)
print(A.difference(B))

{1, 2, 3}
{1, 2, 3}

In [145]:
print(B-A)
print(B.difference(A))

{8, 6, 7}
{8, 6, 7}

In [146]:
#Symetric difference of two sets
print(A^B)
print(A.symmetric_difference(B))

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [147]:
for item in A:
    print(item)

1
2
3
4
5

In [148]:
print(2 in A)
print(10 in B)

True
False

In [149]:
#We can also use the following methods with sets:
""" 
enumerate()
max()
min()
sum()
len()
sorted()
"""

' \nenumerate()\nmax()\nmin()\nsum()\nlen()\nsorted()\n'

### Dictionaries

In [150]:
# Dict is collection of a key-value pairs.
human1={
    'height':180,
    'weight':80,
    'eye-color': 'green',
    'language': 'berber'
}

In [151]:
human1

{'height': 180, 'weight': 80, 'eye-color': 'green', 'language': 'berber'}

In [153]:
dir(human1)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [154]:
human1.items()

dict_items([('height', 180), ('weight', 80), ('eye-color', 'green'), ('language', 'berber')])

In [155]:
type(human1.items())

dict_items

In [156]:
print(human1.items())

dict_items([('height', 180), ('weight', 80), ('eye-color', 'green'), ('language', 'berber')])

In [157]:
human1.keys()

dict_keys(['height', 'weight', 'eye-color', 'language'])

In [158]:
human1.values()

dict_values([180, 80, 'green', 'berber'])

In [159]:
len(human1)

4

In [160]:
human1['sex']='male'

In [161]:
human1

{'height': 180,
 'weight': 80,
 'eye-color': 'green',
 'language': 'berber',
 'sex': 'male'}

In [162]:
human1['weight']=82
human1

{'height': 180,
 'weight': 82,
 'eye-color': 'green',
 'language': 'berber',
 'sex': 'male'}

In [163]:
type(human1)

dict

In [164]:
#convert to set (by default it takes keys)
my_set=set(human1)
my_set

{'eye-color', 'height', 'language', 'sex', 'weight'}

In [165]:
my_set=set(human1.values())
my_set

{180, 82, 'berber', 'green', 'male'}

In [166]:
my_list=list(human1) #convrt to list
my_list

['height', 'weight', 'eye-color', 'language', 'sex']

In [167]:
my_list=list(human1.values())
my_list

[180, 82, 'green', 'berber', 'male']

In [168]:
del human1['sex']
human1

{'height': 180, 'weight': 82, 'eye-color': 'green', 'language': 'berber'}

In [169]:
human2={'name': 'Hamza', 'age':65, 'language': ['francais', 'anglais']}
human2

{'name': 'Hamza', 'age': 65, 'language': ['francais', 'anglais']}

In [170]:
human2['language'][1].title()

'Anglais'

In [173]:
#nested dictionaries:
humans={
    1:{'name':'Hamza', 'age':'27', 'sex':'Male'},
    2:{'name':'Marie', 'age':'22', 'sex':'Female'},
    3:{'name':'John', 'age':'62', 'sex':'Male'}
}
humans

{1: {'name': 'Hamza', 'age': '27', 'sex': 'Male'},
 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'},
 3: {'name': 'John', 'age': '62', 'sex': 'Male'}}

In [174]:
humans[1]

{'name': 'Hamza', 'age': '27', 'sex': 'Male'}

In [175]:
humans[1]['name']

'Hamza'

In [176]:
humans[1]['name'].upper()

'HAMZA'

In [177]:
humans[2]['sex'].lower()

'female'

In [178]:
humans[4]={'name': 'Jamal', 'age': '47', 'married': 'No'}
humans

{1: {'name': 'Hamza', 'age': '27', 'sex': 'Male'},
 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'},
 3: {'name': 'John', 'age': '62', 'sex': 'Male'},
 4: {'name': 'Jamal', 'age': '47', 'married': 'No'}}

In [179]:
del humans[4]['married']

In [180]:
humans

{1: {'name': 'Hamza', 'age': '27', 'sex': 'Male'},
 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'},
 3: {'name': 'John', 'age': '62', 'sex': 'Male'},
 4: {'name': 'Jamal', 'age': '47'}}

In [181]:
del humans[2], humans[4]
humans

{1: {'name': 'Hamza', 'age': '27', 'sex': 'Male'},
 3: {'name': 'John', 'age': '62', 'sex': 'Male'}}