In [1]:
#block of code to perform a task

name=input('What is your name ? ')
print(f'Hello {name} !!')

What is your name ? Hamza
Hello Hamza !!

In [2]:
#function definition 
def greeting():
    name=input('What is your name ? ')
    print(f'Hello {name} !!')

In [3]:
#function call
greeting()

What is your name ? Hamza
Hello Hamza !!

In [4]:
#passing  arguments
def greeting(username):
    print(f'Welcome {username.title()}')

In [5]:
greeting('hamza')

Welcome Hamza

In [6]:
#passing multiple arguments:
def pets(owner_name, pet_name):
    print(f'Hi {owner_name.title()}, please take care of {pet_name.title()} !!')

In [7]:
pets('hamza', 'kat')

Hi Hamza, please take care of Kat !!

In [8]:
#keyword arguments
pets(owner_name='hamza', pet_name= 'KAT')

Hi Hamza, please take care of Kat !!

In [9]:
#defaut values
pets('Hamza') # TypeError

TypeError: pets() missing 1 required positional argument: 'pet_name'

In [10]:
def pets(owner_name, pet_name='KAT'):
    print(f'Hi {owner_name.title()}, please take care of {pet_name.title()} !!')

In [11]:
pets('Hamza') #no error

Hi Hamza, please take care of Kat !!

In [12]:
#return values:
def pets(owner_name='Hamza', pet_name='kat'):
    advice= f'Hi {owner_name.title()}, please take care of {pet_name.title()} !!'
    return advice

In [13]:
pets()

'Hi Hamza, please take care of Kat !!'

In [14]:
def pets(owner_name='Hamza', pet_name='kat'):
    return f'Hi {owner_name.title()}, please take care of {pet_name.title()} !!'

In [15]:
pets()

'Hi Hamza, please take care of Kat !!'

In [16]:
type(pets)

function

In [17]:
type(pets())

str

In [18]:
#which default is considered?
def pets(owner_name='', pet_name=''):
    return f'Hi {owner_name.title()}, please take care of {pet_name.title()} !!'

pets('Hamza')

'Hi Hamza, please take care of  !!'

In [19]:
#optional arguments:
def fullname (fname ='x', mname='y', lname='z'):
    return f'Your fullname is : {fname.title()} {mname.title()} {lname.title() }.'

fullname('hamza', 'jr', 'badr')

'Your fullname is : Hamza Jr Badr.'

In [20]:
fullname('Hamza')

'Your fullname is : Hamza Y Z.'

In [21]:
#optional argument mut be defaulted and be last arg in list:
def fullname (fname , lname, mname=''):
    if mname:
        full_name= f'Your fullname is : {fname.title()} {mname.title()} {lname.title() }.'
    else:
        full_name= f'Your fullname is : {fname.title()} {lname.title() }.'
    return full_name

fullname('hamza', 'badr')

'Your fullname is : Hamza Badr.'

In [22]:
fullname('hamza', 'badr', 'jr')

'Your fullname is : Hamza Jr Badr.'

In [23]:
#python style code recommends begining the code block with a docstring """ func desc  """
def fullname (fname , lname, mname=''):
    """prints out au fullname for a given triplet firstname, middlename and lastname
    with an optioanl parameter 'middlename'
    """
    if mname:
        full_name= f'Your fullname is : {fname.title()} {mname.title()} {lname.title() }.'
    else:
        full_name= f'Your fullname is : {fname.title()} {lname.title() }.'
    return full_name

In [24]:
#to see signature && docstring
fullname?

In [25]:
#to see signature and code
fullname??

In [26]:
#arbitrary arguments lists
def average(*args):
    return  sum(args)/len(args)
average(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

4.5

In [27]:
#local scope vs global scope
x=10 #global variable within this ipython script scope

#functions can reference global variables
def access_global():
    print('x printed from acess_global : ', x)

In [28]:
access_global()

x printed from acess_global :  10

In [29]:
#if a variable wasn"t defined within a function python will look for it in the global variables
#however, unline other languages, a function cannnot modify a global variable!

def try_to_modify_global():
    x=3.5
    print('x printed from try_to_modify_global: ', x)
try_to_modify_global()

x printed from try_to_modify_global:  3.5

In [30]:
x #gloab variable

10

In [31]:
#we can resolve this by using 'global' statement
def modify_global():
    global x
    x='hello'
    print('x printed from modify_global: ', x)
    
    
modify_global()

x printed from modify_global:  hello

In [32]:
x

'hello'

In [33]:
# be careful of the function 'shadow' of death
type(sum)

builtin_function_or_method

In [34]:
sum = 10 + 40

In [35]:
sum

50

In [36]:
sum([10, 40])

TypeError: 'int' object is not callable

In [37]:
type(sum) #overwrite function

int

In [38]:
sum(10, 40)

TypeError: 'int' object is not callable

In [39]:
#are parameters passed by value id or reference

In [40]:
x=13

In [41]:
id(x)

140704558257320

In [42]:
def cube(number):
    print('id(number)', id(number))
    return number**3

In [43]:
cube(x)

id(number) 140704558257320

2197

In [44]:
cube(13)

id(number) 140704558257320

2197

In [45]:
#what about immutable objects?
def cube(number):
    print('id(number) before modifying number:', id(number))
    number**=3
    print('id(number) after modifying number:', id(number))
    return number

In [46]:
cube(x)

id(number) before modifying number: 140704558257320
id(number) after modifying number: 1982526509808

2197

In [47]:
#map() function

def cuber(x):
    return x**3
my_list=[2, 3, 4, 5]

result=map(cuber, my_list)
result

In [48]:
type(result)

map

In [49]:
list(result)

[8, 27, 64, 125]

In [50]:
#map() function equivalent to :
result=[]
for item in my_list:
    result.append(cuber(item))
result

[8, 27, 64, 125]

In [51]:
#anonymous functions = lambda expressions
#lambda  <arguments> : <expression>
lambda a: a+10

In [52]:
#lambda a, b, ...,n : <expression>
#any number of arguments
#the <expression> is the return value
#all must be in single line

f = lambda x: x**2 #lambda name is f and it takes one arg 'x' and it squares it
f(4)

16

In [53]:
f= lambda x, y :3 *(x ** 3) +4 - 5 *y #lambda can also take multiple args
f(10, 456)

724

In [54]:
# def cuber(x):
#     return x**3
my_list=[2, 3, 4, 5]

# result=map(cuber, my_list)
# result

result = list(map(lambda x: x**3, my_list))
result

[8, 27, 64, 125]

In [55]:
the_greats=['Hamza', 'Badr', 'John', 'Lisa']
the_greats.sort(key=len)
the_greats

['Badr', 'John', 'Lisa', 'Hamza']

In [56]:
the_greats.sort(key = lambda item:  list(item)[0])

In [57]:
the_greats

['Badr', 'Hamza', 'John', 'Lisa']

In [58]:
#one level deeper
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)
print(type(mydoubler))

print(mydoubler(11))

<class 'function'>
22

In [59]:
#remember this
#lambda x, y: 3*(x**2)+2*y-5

def quadratic(a, b, c):
    return lambda x: a * (x ** 2) + b * x - c
f = quadratic(2, 3, 5)
f(2)

9

In [60]:
def quadratic(a, b, c):
    return lambda x: a * (x ** 2) + b * x - c

quadratic(2, 3, 5)(2) #same as but not readable

9