In [1]:
class ClassName:
    #<statement-1>
    
    pass
    
    #<statement-N>

In [2]:
class Trivial:
    pass

In [3]:
t1=Trivial()

In [4]:
print(type(t1))

<class '__main__.Trivial'>

In [5]:
dir(t1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__']

In [6]:
t1.name= 'Hamza'

In [7]:
t1.name

'Hamza'

In [8]:
dir(t1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'name']

In [9]:
t2= Trivial()

In [10]:
t2.name = 'Badr'

In [11]:
print(t2.name, t1.name)

Badr Hamza

In [12]:
class Dog:
    def bark():  # method
        print(' haw haw haw!!')

In [13]:
dog1=Dog()
dir(dog1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'bark']

In [14]:
Dog.bark()

 haw haw haw!!

In [15]:
dog1.bark()

TypeError: Dog.bark() takes 0 positional arguments but 1 was given

In [ ]:
class Dog:
    def bark(self):  # with self
        print(' haw haw haw!!')

In [ ]:
dog1=Dog()
Dog.bark(dog1)

In [16]:
dog1.bark()

TypeError: Dog.bark() takes 0 positional arguments but 1 was given

In [17]:
dog2= Dog()
dog2.bark()

TypeError: Dog.bark() takes 0 positional arguments but 1 was given

In [18]:
class Dog:
    self.name=''
    def bark(self):  # with self
        print(' haw haw haw!!')

NameError: name 'self' is not defined

In [19]:
class Dog:
    def __init__ (self): #dunder 'magic' method
        self.name='rex'
    def bark(self):  # with self
        print(' haw haw haw!!')

In [20]:
dog1=Dog()

In [21]:
dog1.name

'rex'

In [22]:
dog1.bark()

 haw haw haw!!

In [23]:
dog2=Dog()
dog2.name

'rex'

In [24]:
class Dog:
    def __init__ (self, name): #dunder 'magic' method
        self.name= name
    def bark(self):  # with self
        print(' haw haw haw!!')

In [25]:
dog1=Dog('Simba')

In [26]:
dog1.name

'Simba'

In [27]:
dog2=Dog('rex')
dog2.name

'rex'

In [28]:
dog1.name='Joy'
dog1.name

'Joy'

In [29]:
class Dog:
    def __init__ (self, name, age): 
        self.name= name
        self.age=age
    def bark(self):  
        print(' haw haw haw!!')
    def set_age(self, age):
        self.age=age

In [30]:
dog1=Dog('Lazy', 2)

In [31]:
dog1.name

'Lazy'

In [32]:
dog1.age

2

In [33]:
dog1.set_age(5)
dog1.age

5

In [34]:
#decorator
class Dog:
    def __init__ (self, name, age): 
        self.name= name
        self.age=age
    def bark(self):  
        print(' haw haw haw!!')
    def set_age(self, age):
        self.age=age
        
    @property
    def name(self):
        return self._name
    @name.setter
    def name(self, name):
        if not name.isalpha():
            raise ValueError ("Dog's Name Must Be Letter Only!")
        self._name=name
    @name.deleter
    def name(self):
        self.name = None

In [35]:
dog1=Dog('Juva', 2)

In [36]:
dog2=Dog('abc1', 2)

ValueError: Dog's Name Must Be Letter Only!

In [37]:
dog1.name

'Juva'

In [38]:
dog1.name='Loly'
dog1.name

'Loly'

In [39]:
dog1.name='Loly1'
dog1.name

ValueError: Dog's Name Must Be Letter Only!

In [40]:
class Account:
    """ This class is base class for bank account
    that is created by passing name and balance"""
    def __init__(self, name, balance):
        """to initialize basic infos"""
        self.name=name
        self.balance=balance
    
    def deposit(self, amount):
        self.balance+=amount
    
    def withdraw(self, amount):
        self.balance-=amount

In [41]:
Account?

In [42]:
print(type(Account))

<class 'type'>

In [43]:
acct1= Account('Hamza', 250.65)

In [44]:
dir(acct1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'balance',
 'deposit',
 'name',
 'withdraw']

In [45]:
acct1.balance

250.65

In [46]:
acct1.deposit(15)

In [47]:
acct1.balance

265.65

In [48]:
class Account:
    """ This class is base class for bank account
    that is created by passing name and balance"""
    def __init__(self, name, balance):
        """to initialize basic infos"""
        self.name=name
        self.balance=balance
    
    def deposit(self, amount):
        if amount>0:
            self.balance+=amount
        else:
            raise ValueError ('Amount must be greater than 0 .')
    
    def withdraw(self, amount):
        self.balance-=amount

In [49]:
acc1=Account("Hamza", 0)
print(f'Balance de départ {acc1.name} est : {acc1.balance} $')
acc1.deposit(30)
print(f'Balance de {acc1.name} apres dépot est : {acc1.balance} $')

Balance de départ Hamza est : 0 $
Balance de Hamza apres dépot est : 30 $

In [50]:
acc1.deposit(-12)

ValueError: Amount must be greater than 0 .

In [51]:
class Account:
    def __init__(self, name, balance):
   
        self.name=name
        self.balance=balance
        self.__ssn='123-456-789' #double underscore convention 
    
    def deposit(self, amount):
        if amount>0:
            self.balance+=amount
        else:
            raise ValueError ('Amount must be greater than 0 .')
    
    def withdraw(self, amount):
        self.balance-=amount

In [52]:
acc2=Account('Hamza', 1526)

In [53]:
 dir(acc2)

['_Account__ssn',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'balance',
 'deposit',
 'name',
 'withdraw']

In [54]:
acc2._Account__ssn

'123-456-789'

In [55]:
acc2._Account__ssn='987-654-321'

In [56]:
acc2._Account__ssn

'987-654-321'

In [57]:
acc2

In [58]:
print(acc2)

<__main__.Account object at 0x000001F2B76ED710>

In [59]:
class Account:
    def __init__(self, name, balance):
   
        self.name=name
        self.balance=balance
        self.__ssn='123-456-789' #double underscore convention 
    
    def deposit(self, amount):
        if amount>0:
            self.balance+=amount
        else:
            raise ValueError ('Amount must be greater than 0 .')
    
    def withdraw(self, amount):
        self.balance-=amount
        
    def __repr__(self): #magic method __repr__()
        return f'{self.name} currently has {self.balance} in his account'

In [60]:
acc3=Account('Hamza',999999)

In [61]:
acc3

Hamza currently has 999999 in his account

In [62]:
print(acc3)

Hamza currently has 999999 in his account

In [63]:
acc4=Account('Marry', 10000)

In [64]:
acc3 + acc4

TypeError: unsupported operand type(s) for +: 'Account' and 'Account'

In [65]:
#changing default behavior of a maic method
#operator overloading
class Account:
    def __init__(self, name, balance):
   
        self.name=name
        self.balance=balance
        self.__ssn='123-456-789' #double underscore convention 
    
    def deposit(self, amount):
        if amount>0:
            self.balance+=amount
        else:
            raise ValueError ('Amount must be greater than 0 .')
    
    def withdraw(self, amount):
        self.balance-=amount
        
    def __repr__(self):                         # magic method __repr__()
        return f'{self.name} currently has {self.balance} in his account'
    def __add__(self, other):                   # magic method __add__()
        return f'{self.name} and {other.name} both have a total of {self.balance + other.balance} .'

In [66]:
acc3=Account('Hamza',999999)
acc4=Account('Marry', 10000)

acc3 + acc4

'Hamza and Marry both have a total of 1009999 .'

### inheritance

In [67]:
class Employee:
    def __init__(self, fname, lname):
        self.fname=fname
        self.lname=lname
        self.email =fname+'.'+lname+'@myjob.com'

In [68]:
emp1=Employee('Hamza', 'Badr')
emp1.email

'Hamza.Badr@myjob.com'

In [69]:
class Teacher(Employee):
    pass

In [70]:
tr1=Teacher('Hamza', 'Badr')
tr1.email

'Hamza.Badr@myjob.com'

In [71]:
class Teacher(Employee):
    def __init__(self, fname, lname):
        super().__init__(fname, lname)
        self.email ='t-'+fname+'.'+lname+'@myjob.com'

In [72]:
tr1= Teacher('Hamza', 'Badr')

In [73]:
tr1.email

't-Hamza.Badr@myjob.com'